* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.radio label{
	margin-right: 20px;
	margin-bottom: 20px;
}
.txt-inner{
	width: 400px;
    display: inline-block;
}
.h-inner{
	width: 80px;
}
.panel-upload{
	background: #DEDEDE;
	border-radius: 10px;
	min-height: 100px;
	padding: 40px;
	text-align: center;

}
.btn-upfile{
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
.up-help{
	text-align: center;
	font-size: 20px;
    color: #666666;

}
.packery {
  margin-bottom: 20px;


}
/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}
.item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  float: left;
  background: #C09;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
  padding: 0;
}
.item .num{
  	top: 0;
	left: 0;
	z-index: 999;
	position: absolute;
	background-color: #fff;
	padding: 5px;

}
.item .tra{
  	top: 0;
	right: 0;
	z-index: 999;
	position: absolute;
	color: #fff;
	padding: 5px;
	background: red;

}
.item .tra i{
  	display: block

}
.img-banner{
	width: 100%;
    height: auto;

}
.item:hover{
  background: #FFE8FC !important;
}
.item.active{
  background: #FFE8FC !important;
}
.item i{
	cursor: pointer;
	position: absolute;
	display: none;
}
.item:hover i{
	display: block;
}
.item i.fa-caret-square-o-up{
	top: 5px;
	left: 50%;
}
.item i.fa-caret-square-o-down{
	bottom: 5px;
	left: 50%;
}
.item i.fa-caret-square-o-left{
	left: 5px;
	top: 50%;
}
.item i.fa-caret-square-o-right{
	right: 5px;
	top: 50%;
}

.item.hb100 { height:  100px; background: #ccc; }
.item.hb150 { height:  150px; background: #ccc; }
.item.hb200 { height:  200px; background: #ccc; }
.item.hb250 { height:  250px; background: #ccc; }
.item.hb300 { height:  300px; background: #ccc; }

.ls-grid {list-style: none;padding: 0}
.ls-grid li {margin-bottom: 10px;padding: 10px;height: 250px;overflow: hidden}
.ls-grid li:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.ls-grid li .tplical{border: 1px solid #cccccc;padding:0 5px}
.ls-grid input{margin-right: 5px;}
.ls-grid .del_grid{float: right;color:red;}
.ls-grid .edit_grid{float: right;margin-right: 5px;}
.ls-grid .item.hb100 { height:  50px; background: #ccc; }
.ls-grid .item.hb150 { height:  75px; background: #ccc; }
.ls-grid .item.hb200 { height:  100px; background: #ccc; }
.ls-grid .item.hb250 { height:  125px; background: #ccc; }
.ls-grid .item.hb300 { height:  150px; background: #ccc; }



.item.is-dragging,
.item.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 2;
}
.td-tool{
	text-align: center;
	width: 100px;
}
.td-tool a{
	margin: 0 10px;
}
.tbi td{
	vertical-align: middle !important;
}
.panel-col{
	width: 100%;
    background-color: #eeeeee;
    float: left;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.zoneup{
	width: 100px;
	height: 100px;
	background: #f8f8f8;
	border:#666666 1px dashed;
	text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color: #666666;
    font-size: 40px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.zoneup img{
	position: absolute;
	top:0;
	left:0;
	height: 100px;


}
.ztitle{
	margin: 10px 0;
    font-weight: bold;
}
.del-box{
	position: absolute;
    top: 5px;
    right: 10px;
    color: #999999;
    cursor: pointer;
}
.ui-progressbar{
	margin-top: -12px;
	height: 10px !important;
}
.dz-image img{
	height: 100%;
}
.zpanel-pd .clcon{
	position: relative;
}
.zpanel-pd .pdctl{
	position: absolute;
	top: 20px;
	right: 0;
}
.search-panel{
	padding: 20px;
	background: #f5f5f5;
	margin: 20px 0;
}
.tborder input{
	text-align: right;
}
.ng-search-result{
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	right: 0;
	list-style: none;
	padding: 0;
	margin: 0 15px;
	margin-top: -3px;
	background: #ffffff;
	z-index: 9;
	overflow: auto;
	max-height: 300px;
	border: 1px solid #dddddd;
	border-color: #66afe9;
	border-top: 1px dashed #dddddd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-box-shadow: 0 3px 8px rgba(102, 175, 233, .6);
	box-shadow: 0 3px 8px rgba(102, 175, 233, .6);
}
.ng-search-result li{
  
	cursor: pointer;
	position: relative;
	padding: 5px;
	padding-right: 10px;
	padding-left: 60px;
	border-bottom: 1px dashed #ccc;
}


.ng-search-result li:last-child{
	border: none;
}
.ng-search-result li .im-thumb{
	position: absolute;
	width: 40px;
	top: 5px;
	left: 5px;
}
.ng-search-result li .top{

}
.ng-search-result .name{
	display: inline-block;
	color: #000;
	float: left;
}
.ng-search-result .price{
	display: inline-block;
	color: #999999;
	float: right;
	font-style: italic;
}
.ng-search-result .code{
	display: inline-block;
	color: #999999;
}
.ng-search-result > li:hover {
	background: #3B99FC;
	color: #ffffff !important;
}
.ng-search-result > li:hover .name{

	color: #ffffff !important;
}
.ng-search-result > li:hover .code{

	color: #f8f8f8 !important;
}
.ng-search-result > li:hover .price{

	color: #f8f8f8 !important;
}
